header{
	height: 100px;
}

footer{
	height: 100px;
	
}

.container{
	display: flex;
}

.flex-container {
  flex-wrap: wrap;
  justify-content: space-around;
  display: inline-flex;	
}

.block-sidebar {
  display: flex;
}

.block-sidebar > div {
  background-color: #6C757D;
  margin: 5px;
  font-size: 30px;
  width: 100%;
  align-items: stretch;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 5px;
  font-size: 30px;
  width: 30%
}

.container-box {
  background-color: #1A1C22;
  margin: 5px;
  font-size: 30px;
  width: 100%;
  align-items: stretch;
}

.block {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.block-body {
  display: flex;
  flex: 1;
}

.block-sidebar {
  flex: 0 0 400px;
  display: flex;
}

.block-sidebar {
  order: -1;
}

.block,
.block-body {
  display: flex;
  flex-direction: column;
}

.block-sidebar {
  order: -1;
}

@media (min-width: 900px) {
  .block-body {
    flex-direction: row;
    flex: 1;
  }
  .block-content {
    flex: 1;
  }

}

.block-content {
  flex-wrap: wrap;
  justify-content: space-around;
  display: inline-flex;	
	
}
.block-content-box {
	width: 32%;
	margin: 5px;	
	background-color: #343A40;
}


@media (max-width: 1200px){
	.block-content-box{
		width: 47% !important;
		margin: 5px !important;
	}
}


@media (max-width: 600px) {
	.block-content-box{
		width: 100% !important;
		margin: 5px !important;
	}
}

@media (max-width: 900px) {
	.block-sidebar{
		height: 400px !important;
	}
	.block-content{
		height: 400px !important;
	}
}




